/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f7f8fc;
  color: #333;
}

/* Layout untuk container utama */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
