/* Navbar */
.navbar {
  background-color: yellow; /* Warna kuning lebih lembut */
  padding: 15px 50px;
  padding-left: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20; /* Agar navbar tetap di atas konten */
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Tambahkan bayangan */
  transition: background-color 0.3s ease;
  max-width: 12000px; /* Menentukan lebar maksimum navbar */
  margin: 0 auto; /* Agar navbar berada di tengah halaman */
}

.navbar:hover {
  background-color: yellowgreen; /* Warna berubah saat navbar dihover */
}

/* Logo dan Teks */
.logo-container {
  display: flex;
  align-items: center;
  font-weight: bold; /* Menebalkan teks */
  gap: 10px; /* Memberikan jarak antara logo dan teks */
}

.logo {
  width: 50px; /* Ukuran logo lebih besar */
  height: 50px; /* Ukuran logo lebih besar */
}

.logo-text {
  font-size: 1.8rem;
  font-weight: 700; /* Menebalkan teks lebih */
  color: #008000; /* Menggunakan warna hijau */
  letter-spacing: 2px; /* Memberikan spasi antar huruf */
  text-transform: uppercase; /* Membuat teks kapital semua */
}

/* Link Navigasi pada Navbar */
.nav-links {
  display: flex;
  gap: 30px; /* Jarak antar link lebih besar */
  margin-left: auto; /* Memastikan link berada di kanan navbar */
}

.nav-links a {
  color: #008000; /* Warna hijau untuk link */
  text-decoration: none;
  font-size: 1.1rem; /* Ukuran font sedikit lebih besar */
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold; 
  transition: background 0.3s ease, color 0.3s ease;
}

.nav-links a:hover {
  background-color: rgba(255, 255, 255, 0.3);
  color: yellowgreen; /* Warna merah saat hover */
  transform: scale(1.1); /* Efek zoom saat hover */
}

/* Header */
.header {
  background: url('../assets/images/pengurus.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 500px;
  width: 100%;
  position: relative;
  margin-top: 80px; /* Agar header tidak tertutup navbar */
  z-index: 10;
  animation: fadeIn 2s ease-in-out; /* Efek animasi fade-in pada header */
}

/* Animasi Fade-in */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Konten Header */
.header-content {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  color: white; /* Warna teks putih agar kontras dengan background */
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 2px;
}

/* Tambahkan ke Footer.css dan Header.css */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    padding: 20px;
  }

  .nav-links {
    flex-direction: column;
    gap: 10px;
  }

  .footer-content {
    flex-direction: column;
  }
}
